<a href="https://colab.research.google.com/github/jamesbelk0/classification_model/blob/main/Project_2_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 1 - Part 1
* James Belk
* 02-09-2023

In [ ]:
import pandas as pd
import numpy as np

# First Choice: Metabolic Syndrome Prediction

## Source of Data

Below is the location of the dataset.

* https://data.world/informatics-edu/metabolic-syndrome-prediction

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
filename = '/content/metabolic_syndrome.csv'

df = pd.read_csv(filename)
df.head()

,seqn,age,sex,marital,income,race,waistcirc,bmi,albuminuria,uralbcr,uricacid,bloodglucose,hdl,triglycerides,metabolicsyndrome
0,62161,22,Male,Single,8200.0,White,81.0,23.3,0,3.88,4.9,92,41,84,No MetSyn
1,62164,44,Female,Married,4500.0,White,80.1,23.2,0,8.55,4.5,82,28,56,No MetSyn
2,62169,21,Male,Single,800.0,Asian,69.6,20.1,0,5.07,5.4,107,43,78,No MetSyn
3,62172,43,Female,Single,2000.0,Black,120.4,33.3,0,5.22,5.0,104,73,141,No MetSyn
4,62177,51,Male,Married,NaN,Asian,81.1,20.1,0,8.13,5.0,95,43,126,No MetSyn

## Brief Description of Data

The data outlines features that contribute to a series of diseases. In this case they are heart disease, stroke and type 2 diabetes. 

The columns make up the characteristics of the individuals including age, marital status, bmi and what not.

## What Is The Target?

* The target will be the metabolicsyndrome column

# What Does One Row Represent?

1.   seqn - Acts as ID 
2.   age - numeric value for the age of the individual
3. sex - gender
4. martial - what is the marital status
5. income - how much an individual makes a month
6. race - ethnicity
7. waistcirc - size of the individuals waist
8. bmi - dated way to measure body fat percentage
9. albuminuria - sign of kidnet disease
10. uralbcr - need to do more research
11. uricacid - percentage of broken down substances
12. bloodglucose - blood test to screen for sugar
13. hdl - "good" cholesterol
14. triglycerides - type of fat lipid
15. metabolicsyndrome - cluster of conditions that occur together, increaseing risk of heart disease, stoke, and type 2 diabetes

# How Many Features Does the Data Have?

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2401 entries, 0 to 2400
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seqn               2401 non-null   int64
 1   age                2401 non-null   int64
 2   sex                2401 non-null   object
 3   marital            2193 non-null   object
 4   income             2284 non-null   float64
 5   race               2401 non-null   object
 6   waistcirc          2316 non-null   float64
 7   bmi                2375 non-null   float64
 8   albuminuria        2401 non-null   int64
 9   uralbcr            2401 non-null   float64
 10  uricacid           2401 non-null   float64
 11  bloodglucose       2401 non-null   int64
 12  hdl                2401 non-null   int64
 13  triglycerides      2401 non-null   int64
 14  metabolicsyndrome  2401 non-null   object
dtypes: float64(5), int64(6), object(4)
memory usage: 281.5+ KB

In [20]:
print(f'The columns represent {df.shape[1]-1} features and 1 target variable.')

The columns represent 14 features and 1 target variable.

# How Many Rows Are in The Dataset?

In [21]:
print(f'There are {df.shape[0]} rows.')

There are 2401 rows.

In [33]:
print(f'There are {df.duplicated().sum().sum()} duplicated rows.')

There are 0 duplicated rows.

# What, if any, challenges do you foresee in cleaning, exploring, or modeling with the dataset?

The primary challenge with this dataset will be resolving some of the missing values. Waistcirc and marital status are going to be very individualized so a 'missing' or 'unknown' value will need to be made.

# Second Choice: Spanish Wine Quality

## Source of Data

* https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset?resource=download

In [11]:
filename2 = '/content/wines_SPA.csv'

df1 = pd.read_csv(filename2)
df1.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

## Brief Description of Data

An extensive list of wines from Spain with a variety of featues detail where the wine was made, what type of wine it is, and the cost of said wine.

## What Is The Target?

Body

# What Does One Row Represent?

1. winery: Winery name
2. wine: Name of the wine
3. year: Year in which the grapes were harvested
4. rating: Average rating given to the wine by the users [from 1-5]
5. num_reviews: Number of users that reviewed the wine
6. country: Country of origin [Spain]
7. region: Region of the wine
8. price: Price in euros [€]
9. type: Wine variety
10. body: Body score, defined as the richness and weight of the wine in your mouth [from 1-5]
11. acidity: Acidity score, defined as wine's “pucker” or tartness; it's what makes a wine refreshing and your tongue salivate and want another sip [from 1-5]

# How Many Features Does the Data Have?

In [31]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

In [24]:
print(f'The columns represent {df1.shape[1]-1} features and 1 target variable.')

The columns represent 10 features and 1 target variable.

# How Many Rows Are in The Dataset?

In [22]:
print(f'There are {df1.shape[0]} rows.')

There are 7500 rows.

In [30]:
print(f'There are {df1.duplicated().sum().sum()} duplicated rows.')

There are 5452 duplicated rows.

# What, if any, challenges do you foresee in cleaning, exploring, or modeling with the dataset?

The primary challenge with this dataset will be resolving some of the missing values. 'year', body, type and acidity are going to be very individualized so a 'missing' or 'unknown' value will need to be made.

Creating a model to predict the acidity of a wine based on the type of wine that was made.